
@{
    ViewData["Title"] = "About";
}

<h2 class="alert alert-info">About</h2>

<div class="row border-dark">
    <div>
        <p>
        </p>
        <h3>Welcome to our Online Training on ASP.NET MVC </h3>
        <p>
        </p>
    </div>
</div>


