
@{
    ViewData["Title"] = "ourpage";
}

<h2>Contact</h2>
<h3 class="text-primary">PeopleNTech</h3>
<h3 class="text-primary">GoodLuck Engineering</h3>
<h3 class="text-primary">Green Road Dhaka</h3>


